langchain==0.1.16
langchain_community==0.0.34
streamlit==1.33.0
torch
transformers
sentence-transformers
datasets
faiss-cpu
unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git
xformers<0.0.26
trl
peft
accelerate
bitsandbytes